# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Enable instacod.es-plugin': 'instacod.es-plugin:toggle'

'menu': [
  {
    'label': 'File'
    'submenu': [
      'label': 'Instacod.es'
      'submenu': [
        { 'label': 'Upload File', 'command': 'instacod:upload-file' }
      ]
    ]
  },
  {
    'label': 'Selection'
    'submenu': [
      'label': 'Instacod.es'
      'submenu': [
        {'label': 'Upload Selection', 'command': 'instacod:upload-selection' }
      ]
    ]
  }
]
