# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Upload Selection to InstaCod.es': 'instacodes:upload-selection'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Instacod.es'
      'submenu': [
        { 'label': 'Upload File', 'command': 'instacodes:upload_file' }
      ]
    ]
  },
  {
    'label': 'Selection'
    'submenu': [
      'label': 'Instacodes'
      'submenu': [
        {'label': 'Upload Selection', 'command': 'instacodes:upload_selection' }
      ]
    ]
  }
]
