# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Upload selection to instacod.es': 'instacodes:upload_selection'

#'menu': [
#  {
#    'label': 'Packages'
#    'submenu': [
#      'label': 'Instacod.es'
#      'submenu': [
#        { 'label': 'Upload File', 'command': 'instacodes:upload_file' }
#      ]
#    ]
#  }
#]
